<div>
    <!-- put component code here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand">Polls</span>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'polls:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'polls:about' %}">About</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
        
          <li class="nav-item">
            <span class="nav-link">Welcome, <a href="{% url 'polls:profile' %}">{{ user.get_username }}</a></span>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts/logout">Logout</a>
        </li>
        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/signup">Register</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>
